#container {
    border-style: solid;
    border-color: #4b4b4b;
    width: 90vw;
    max-width: 550px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20rem;
    border-radius: 1rem;
    opacity: 0.7;
}
#container img {
    width: 16rem;
    margin-top: 2rem;
}
#container:hover {
    transition: 0.5s;
    opacity: 1;
}
#container h1 {
    font: 600 2.5rem 'Press Start 2P';
    color: #4b4b4b;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
#container h2, h3 {
    font: 600 1.5rem 'Press Start 2P';
    color: #4b4b4b;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#container fieldset {
    display: block;
    justify-content: center;
    border: none;
}
#container fieldset label{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    color: #4b4b4b;
    align-items: center;

}
#container fieldset input{
    border: 1px solid #4b4b4b;
    font: 1.2rem 'Press Start 2P';
    padding: 1rem;
    width: 30rem;
    height: 4rem;
    margin-bottom: 2rem;
    color: #4b4b4b;
}   
#container .login {
    border-style: solid;
    border-color: #4b4b4b;
    margin: auto;
    width: 30rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#container .senha {
    border-style: solid;
    border-color: rgb(114, 114, 114);
    margin: auto;
    width: 30rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
#container .checkbox label input[type="checkbox"] {
    height: 2rem;
    width: 4rem;
    margin-bottom: 0rem;
}
#container .createaccount {
    color: #4b4b4b;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
#container .createaccount a {
    color: blue;
    margin-left: 0.5rem;
    text-decoration: none;
}
#container .createaccount a:hover {
    color: rgb(96, 86, 245);
}
.buttons-container {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
}
.buttons-container a {
    width: 20rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-right: 1.6rem;

    font: 500 1.2rem 'Press Start 2P';

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: whitesmoke;
}
.buttons-container .enter {
    background-color: #be2e2e;
    transition: background 0.5s;
}
.buttons-container .exit {
    background-color: #be2e2e;
    margin-right: 0rem;
    transition: background 0.5s;
}
.buttons-container a.enter:hover {
    background-color: #ff6565;
}
.buttons-container a.exit:hover {
    background-color: #ff6565;
}

